h1{
    padding-top: 50px;
    width: 200px;
    text-align: center;
    font-size: large;
}

/*! ONE FEATURE == ONE BRANCH */

/** git merg gree-background ajoute ds master tout ce qui ne se trouve pas dans master  */
body {
    background: #0ab861;
    color: white;
}